/* mobile devices */
@media screen and (max-width:576px) {
  .navbar-container {
    flex-direction: column;
  }

  .nav-items-container {
    flex-direction: column;
    margin-top: 1rem;
  }

  .banner-container {
    flex-direction: column-reverse;
  }

  .funny-videos-title {
    font-size: 2rem;
  }

  .videos-container {
    flex-direction: column;
  }

  .video-img {
    display: flex;
    justify-content: center;
  }

  .video-img .overlay {
    border-radius: 20px;
  }

  .video-desc {
    text-align: center;
  }

  .game-content {
    width: 100%;
    text-align: center;
  }

  .play-game-title {
    margin-bottom: 20px;
  }

  .play-game-container {
    flex-direction: column-reverse;
    margin-bottom: 50px;
    gap: 50px;
  }

  .main-game-img {

    padding: 0px 30px;
    width: 90%;
  }

  .game-content {
    padding: 20px;
  }

  .game-another-img {
    width: 40%;
    position: absolute;
    top: 85%;
    left: 60%;
  }

  .categories-container {
    gap: 1rem;
  }

  .category {
    flex-basis: calc(33%-1rem);

  }

  .category img {
    width: auto;
  }

  .game-title {
    font-size: .5rem;
    font-weight: 500;
  }

  .footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  .footer-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  .footer-another-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}




/* medium large device */
@media screen and (min-width:576px) and (max-width:768px) {
  .banner-container {
    flex-direction: column-reverse;
  }

  .videos-container {
    gap: 0px;
  }

  .video-img img {
    width: 300px;
  }

  .play-game-container {
    gap: 0px;
  }

  /* .main-game-img{
    width: px;
  } */
  .game-another-img {
    position: absolute;
    top: 50%;
    left: 45%;
    bottom: 20px;
  }

  .game-content {
    padding-right: 10px;
  }

}


/* fot tablet  */
@media screen and (min-width:576px) and (max-width:992px) {
  .navbar-container {
    flex-direction: column;
  }

  .nav-items-container {
    margin-top: 50px;
  }

  .banner-container {
    padding: 50px;
  }

  .banner-content {
    padding: 0px;
  }

  /* .banner-img img {
    width: 600px;
    height: 300px;
  
  } */
  .videos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .play-game-container {
    padding-inline: 10px;
    gap: 50px;
  }

  .game-img-container {
    width: 100%;
  }

  .game-content {
    width: 100%;
    text-align: end;
  }

  .game-another-img {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 25%;
  }

  .footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  .footer-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  .footer-another-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}