@media screen and (max-width:576px) {
  .navbar-container {
    flex-direction: column;
  }

  .nav-items-container {
    flex-direction: column;
    margin-top: 1rem;
  }

  .banner-container {
    flex-direction: column-reverse;
  }

  .funny-videos-title {
    font-size: 2rem;
  }

  .videos-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .video-img {
    display: flex;
    justify-content: center;
  }

  .video-img .overlay {
    border-radius: 20px;
  }

  .video-desc {
    text-align: center;
  }

  .game-content {
    width: 100%;
    text-align: center;
  }

  .play-game-title {
    margin-bottom: 70px;
  }

  .play-game-container {
    flex-direction: column-reverse;
  }
  .main-game-img {
    padding: 30px;
    width: 90%;
  }


  .game-another-img {
    width: 40%;
    position: absolute;
    top: 85%;
    /* right: 50%; */
    left: 60%;
  }
}

.categories-container {
  gap: 1rem;
}

.category {
  flex-basis: calc(33%-1rem);

}

.footer-link,
.icon-link,
.more-footer-link {
  flex-direction: column;
}


}

/* fot tablet  */
@media screen and (min-width:576px) and (max-width:960px) {
  .navbar-container {
    flex-direction: column;
  }

  .nav-items-container {
    margin-top: 50px;
  }

  .banner-container {
    padding: 50px;
  }

  .videos-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}